# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\be_me\Dropbox\Teaching\ProfessionalCourses\python-advanced-midas-2022\code\book-sample-code-pycharm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
